body {
    margin: 0 auto;
    padding: 20px;
}

form {
    max-width: 1440px;
    min-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    
    background-color: var(--color-background-two);
    border: solid 2px var(--color-botder-container);
    border-radius: 30px;
}

form h1 {
    margin-left: 20px;

    color: var(--color-text-title);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-family-title);
}

form fieldset legend {
    margin: 10px;

    color: var(--color-text-title);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--font-family-title);
}

form fieldset > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;  

}

form fieldset div > label:nth-child(1) {
    padding-top: 10px;

    color: var(--color-text-label);
    font-size: 1.2rem;
    font-weight: normal;;
    font-family: var(--font-family-label);
    
    text-align: start;
}

form fieldset div > input:nth-child(2) {
    height: 40px;

    color: var(--color-text-label);
    font-size: 1rem;
    font-weight: normal;;
    font-family: var(--font-family-label); 
    
    background-color: white;
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    padding: 10px;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form > div button {
    width: 120px;
    height: 40px;

    background-color: var(--color-background-one);
    border: 1.5px solid var(--color-border-buttons);
    border-radius: 20px;

    font-size: 1rem;
    font-weight: normal;
    font-family: var(--font-family-button);

    transition: background 0.3s;
}

form > div button:hover {
background-color: var(--color-background-three);
}

form > div button a {
    color: var(--color-text-buttons);
    text-decoration: none;
    cursor: pointer;
}