:root {
    --color-background-one: rgba(245, 242, 233, 1);
    --color-background-two: rgba(247, 236, 198, 1); 
    --color-background-three: rgba(217, 196, 128, 1);
    --color-background-buttons: rgba(245, 242, 233, 1);
    --color-background-input: rgba(245, 242, 233, 1);
    --color-border-buttons: rgba(107, 91, 40, 1);
    --color-botder-container: rgba(107, 91, 40, 1);
    --color-text-logo: rgb(80, 69, 30);
    --color-text-buttons: black;
    --color-text-buttons-navigation: rgba(107, 91, 40, 1);
    --color-text-title: black;
    --color-text-label: black;
    --color-text-description: black;
    --font-family-logo: Arial;
    --font-family-button-navegation: Arial;
    --font-family-button: Arial;
    --font-family-title: Arial;
    --font-family-label: Arial;
    --font-family-description: 'Fuzzy Bubbles', cursive;
    --color-hover: blue;
    font-size: 100%;
}   
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
