#company-screen-home-page {
    margin: 20px auto;
    padding: 0 20px;
    background-color: var(--color-background-one);
}

#assistant {
    max-width: 1440px;
    min-width: 1100px;

    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
}

#container {
    background-color: var(--color-background-two);
    border: solid 2px var(--color-botder-container);
    border-radius: 30px;
    padding: 20px;
}

#container > h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 10px;

    text-align: center;

    color: var(--color-text-title);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-family-title);
}

#container > hr {
    margin: 10px 0;

    border: 0;
    height: 1px;
    width: 100%;

    background-color: var(--color-botder-container);
    opacity: 50%;
}

#home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 40px;
}

#home-page > label {
    grid-column: 1/2;

    color: var(--color-text-label);
    font-size: 1.2rem;
    font-weight: normal;;
    font-family: var(--font-family-label);
} 

#home-page > input {
    grid-column: 2/3;

    height: 40px;

    color: var(--color-text-label);
    font-size: 1rem;
    font-weight: normal;;
    font-family: var(--font-family-label); 
    
    background-color: white;
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    padding: 10px;

    transition: background 0.3s;
} 

#home-page > input:hover {
    background-color: var(--color-background-three);
}

#home-page > textarea {
    height: 200%;
    resize: none;

    color: var(--color-text-label);
    font-size: 1rem;
    font-weight: normal;;
    font-family: var(--font-family-label); 
    
    background-color: white;
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    padding: 10px;
}

#home-page > textarea:hover {
    background-color: var(--color-background-three);
}

#container > div.button {
    margin-top: 20%;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

#container > div.button > button  {
    width: 120px;
    height: 40px;

    background-color: var(--color-background-one);
    border: 1.5px solid var(--color-border-buttons);
    border-radius: 20px;

    font-size: 1rem;
    font-weight: normal;
    font-family: var(--font-family-button);

    transition: background 0.3s;
}

#container > div.button > button:hover {
    background-color: var(--color-background-three);
}