#my-localization {
    margin: 20px auto;
    padding: 0 20px;
    background-color: var(--color-background-one);
}

.top-bar a:nth-child(3) strong {
    background-color: var(--color-background-three);
}

#container {
    max-width: 1440px;
    min-width: 1100px;

    margin: 20px auto;
    padding: 20px;

    background-color: var(--color-background-two);
    border: solid 2px var(--color-botder-container);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 20px 8fr 20px .5fr;
}

#container > hr {
    margin: auto 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-border-buttons);
    opacity: 80%;
}

#container > div.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container > div.button button {
    width: 120px;
    height: 40px;

    background-color: var(--color-background-one);
    border: 1.5px solid var(--color-border-buttons);
    border-radius: 20px;

    font-size: 1rem;
    font-weight: normal;
    font-family: var(--font-family-button);

    transition: background 0.3s;
}

#container > div.button button:hover {
background-color: var(--color-background-three);
}

#container > div.button button a {
    color: var(--color-text-buttons);
    text-decoration: none;
    cursor: pointer;
}

#my-localization-content {
    margin: 20px 0;
    padding: 20px;

    background-color: var(--color-background-one);
    border: solid 2px var(--color-botder-container);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 40px;
}

#my-localization-content > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#my-localization-content div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

#my-localization-content div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;   
}

#my-localization-content div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
}

#my-localization-content div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
}

#my-localization-content div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 1/2;
}

#my-localization-content div:nth-child(6) {
    grid-column: 2/3;
    grid-row: 2/3;
}

#my-localization-content div:nth-child(7) {
    grid-column: 2/3;
    grid-row: 3/5;
}

#my-localization-content > div > label {
    padding-top: 10px;

    color: var(--color-text-label);
    font-size: 1.2rem;
    font-weight: normal;;
    font-family: var(--font-family-label);
    
    text-align: start;
    margin-top: auto;
}

#my-localization-content > div:nth-child(7) > label {
    text-align: start;
    margin: auto 0;
}

#my-localization-content > div > input {
    height: 40px;
    width: 100%;

    color: var(--color-text-label);
    font-size: 1rem;
    font-weight: normal;;
    font-family: var(--font-family-label); 
    
    background-color: white;
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    padding: 10px;
}

#my-localization-content > div > textarea {
    height: 100%;
    resize: none;

    color: var(--color-text-label);
    font-size: 1rem;
    font-weight: normal;;
    font-family: var(--font-family-label); 
    
    background-color: white;
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    padding: 10px;
}