body {
    margin: 20px auto;
    padding: 0 20px;
    background-color: var(--color-background-one);
}

#auxiliar {
    max-width: 1440px;
    min-width: 1100px;

    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
}

#principal {
    margin-left: 0;
    background-color: var(--color-background-two);
    border: solid 2px var(--color-botder-container);
    border-radius: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

#selecionar-agenda {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px;
    display: block;
    text-align: center;
    color: var(--color-text-label);
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-family-label);
}

#selecionar-agenda > div {
    display: flex;
    justify-content: space-between;
}

#selecionar-agenda div select {
    width: 80%;
    height: 35px;

    text-align: center;
    color: var(--color-text-label);
    font-size: .9rem;
    font-weight: normal;
    font-family: var(--font-family-label);

    background-color: var(--color-background-buttons);
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;

    cursor: pointer;
}

#selecionar-agenda div select:hover {
    background-color: var(--color-background-three);
}

#selecionar-agenda div button {
    height: 35px;
    width: 35px;
    margin-left: 10px;

    text-align: center;
    color: var(--color-border-buttons);
    font-size: 1.5rem;
    font-weight: normal;
    font-family: var(--font-family-label);

    background-color: var(--color-background-buttons);
    border: solid 1px var(--color-border-buttons);
    border-radius: 17.5px;
    cursor: pointer;
}

#selecionar-agenda div button:hover {
    background-color: var(--color-background-three);
}

#selecionar-dia div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#selecionar-dia div img {
    height: 35px;
    width: 35px;
    padding: 5px;

    text-align: center;
    color: var(--color-border-buttons);
    font-size: 1.5rem;
    font-weight: normal;
    font-family: var(--font-family-label);

    background-color: var(--color-background-buttons);
    border: solid 1px var(--color-border-buttons);
    border-radius: 17.5px;
    cursor: pointer;
}

#selecionar-dia div img:hover {
    background-color: var(--color-background-three);
}

#selecionar-dia div input {
    margin: 0 auto;
    height: 40px;
    width: 100%;

    background-color: var(--color-background-one);
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;

    text-align: center;
    font-size: .8rem;
    font-weight: normal;
    font-family: var(--font-family-button);

    cursor: pointer;
    transition: 0.3s;
}

::-webkit-calendar-picker-indicator {
    margin-right: 3px;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-background-three);
    cursor: pointer;
}

#selecionar-dia input:hover {
    background-color: var(--color-background-three);
}

.semana span {
    margin: auto;
    padding: 2.5px 5px;
    border-radius: 5px;
}

#gerenciamento-compromissos button {
    margin-top: 20px;
    width: 100%;
    height: 35px;

    color: var(--color-text-buttons);
    font-size: .8rem;
    font-weight: normal;
    font-family: var(--font-family-button);

    background-color: var(--color-background-buttons);
    border: solid 1px var(--color-border-buttons);
    border-radius: 10px;
    
    cursor: pointer;
    transition: background 0.3s;
}

#gerenciamento-compromissos button:hover {
    background-color: var(--color-background-three);
}

.direita-principal {
    display: grid;
    grid-template-columns: 8fr 92fr;
    grid-template-rows: 8fr 92fr;
}

.direita-principal .horario {
    grid-column: 1/2; 
    grid-row: 1/3;

    margin-top: 23%;

    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

.direita-principal .semana {
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(6, 1px 1fr) 1px ;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}

.direita-principal .semana hr {
    border: 0;
    background-color: black;
    opacity: 25%;
}

.direita-principal > div > span {
    text-align: center;
}

.horario {
    display: flex;
    align-items: end;
    justify-content: center;

    padding-left: 15px;
}

.agenda-conteudo {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(6, 1px 1fr) 1px;
    grid-template-rows: repeat(24, 1px 30px) 1px;

    margin-bottom: 1%;
}

.agenda-conteudo hr {
    border: 0;
    background-color: black;
    opacity: 25%;
}

.agenda-conteudo hr.column {
    width: 1px;
}

.agenda-conteudo hr.row {
    height: 1px;
}

.agenda-conteudo hr.column:hover {
    width: 2px;
    opacity: 100%;
}

.agenda-conteudo hr.row:hover {
    height: 2px;
    opacity: 100%;
}

.agenda-conteudo hr.column:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(3) {
    grid-column: 5/6;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(4) {
    grid-column: 7/8;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(5) {
    grid-column: 9/10;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(6) {
    grid-column: 11/12;
    grid-row: 1/49;
}
.agenda-conteudo hr.column:nth-child(7) {
    grid-column: 13/14;
    grid-row: 1/49;
}

.agenda-conteudo hr.row:nth-child(8) {
    grid-column: 1/14;
    grid-row: 1/2;
}

.agenda-conteudo hr.row:nth-child(9) {
    grid-column: 1/14;
    grid-row: 3/4;
}
.agenda-conteudo hr.row:nth-child(10) {
    grid-column: 1/14;
    grid-row: 5/6;
}
.agenda-conteudo hr.row:nth-child(11) {
    grid-column: 1/14;
    grid-row: 7/8;
}
.agenda-conteudo hr.row:nth-child(12) {
    grid-column: 1/14;
    grid-row: 9/10;
}
.agenda-conteudo hr.row:nth-child(13) {
    grid-column: 1/14;
    grid-row: 11/12;
}
.agenda-conteudo hr.row:nth-child(14) {
    grid-column: 1/14;
    grid-row: 13/14;
}
.agenda-conteudo hr.row:nth-child(15) {
    grid-column: 1/14;
    grid-row: 15/16;
}
.agenda-conteudo hr.row:nth-child(16) {
    grid-column: 1/14;
    grid-row: 17/18;
}
.agenda-conteudo hr.row:nth-child(17) {
    grid-column: 1/14;
    grid-row: 19/20;
}
.agenda-conteudo hr.row:nth-child(18) {
    grid-column: 1/14;
    grid-row: 21/22;
}
.agenda-conteudo hr.row:nth-child(19) {
    grid-column: 1/14;
    grid-row: 23/24;
}
.agenda-conteudo hr.row:nth-child(20) {
    grid-column: 1/14;
    grid-row: 25/26;
}
.agenda-conteudo hr.row:nth-child(21) {
    grid-column: 1/14;
    grid-row: 27/28;
}
.agenda-conteudo hr.row:nth-child(22) {
    grid-column: 1/14;
    grid-row: 29/30;
}
.agenda-conteudo hr.row:nth-child(23) {
    grid-column: 1/14;
    grid-row: 31/32;
}
.agenda-conteudo hr.row:nth-child(24) {
    grid-column: 1/14;
    grid-row: 33/34;
}
.agenda-conteudo hr.row:nth-child(25) {
    grid-column: 1/14;
    grid-row: 35/36;
}
.agenda-conteudo hr.row:nth-child(26) {
    grid-column: 1/14;
    grid-row: 37/38;
}
.agenda-conteudo hr.row:nth-child(27) {
    grid-column: 1/14;
    grid-row: 39/40;
}
.agenda-conteudo hr.row:nth-child(28) {
    grid-column: 1/14;
    grid-row: 41/42;
}
.agenda-conteudo hr.row:nth-child(29) {
    grid-column: 1/14;
    grid-row: 43/44;
}
.agenda-conteudo hr.row:nth-child(30) {
    grid-column: 1/14;
    grid-row: 45/46;
}
.agenda-conteudo hr.row:nth-child(31) {
    grid-column: 1/14;
    grid-row: 47/48;
}
.agenda-conteudo hr.row:nth-child(32) {
    grid-column: 1/14;
    grid-row: 49/50;
}

.direita-principal .agenda-conteudo > div  {
    border: solid 2px red;
    border-radius: 10px;
    background-color: blue;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.direita-principal .agenda-conteudo > div:hover {
    background-color: yellow;
}

.direita-principal .agenda-conteudo > div:active {
    background-color: orange;
}

.direita-principal .agenda-conteudo > div > span {
    text-align: center;
}

.direita-principal .agenda-conteudo > div:nth-child(33) {
    grid-column: 12/13; /*Sabado*/
    grid-row: 2/9; /*6:00/8:00*/
    /*Desce mais para entender melhor*/
}

.direita-principal .agenda-conteudo > div:nth-child(34) {
    grid-column: 8/9; /*Sabado*/
    grid-row: 17/25; /*6:00/8:00*/
    /*Desce mais para entender melhor*/
}

/*
Agenda criada ira receber:

Dia da Semana = Segunda = 0, Terça = 

String [] cssSemana = {2/3, 4/5, 6/7, 8/9, 10/11, 12/13};

int [] cssInicio  = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48};

int [] cssFim = {3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49};

---------------------------------------------------------------------------------------------

diaSemana = 

horaTransformadaINI = Transformar hora recebido "00:00" para "00.00". Exemplo: 15:00 = 15.00.
OU
horaTransformadaINI = Transformar hora recebido "00:30" para "00.50". Exemplo: 12:30 = 12,50.

horaTransformadaFIM = Transformar hora recebido "00:00" para "00.00". Exemplo: 15:00 = 15.00.
OU
horaTransformadaFIM = Transformar hora recebido "00:30" para "00.50". Exemplo: 12:30 = 12,50.

---------------------------------------------------------------------------------------------

horarioInicio = ("horaTransformadaINI" - 6)/.5; Exemplo: (12.50 - 6) / .5
=
horarioFim = ("horaTransformadaFIM" - 6)/.5; Exemplo: (12.50 - 6) / .5

---------------------------------------------------------------------------------------------

escreveCSS (horarioInicio) {
    "grid-row: " + cssInicio [horarioInicio] + "/" cssFim [horarioFim] + " ;";
}

---------------------------------------------------------------------------------------------

Como selecionar:



---------------------------------------------------------------------------------------------

Variaveis de Semana:

Segunda = 2/3
Terça = 4/5
Quarta = 6/7
Quinta = 8/9
Sexta = 10/11
Sabado = 12/13

Variaveis de Horas:

6:00 = 2
6:30 = 3 
7:00 = 5
7:30 = 7
8:00 = 9
8:30 = 11
9:00 = 13
9:30 = 15
10:00 = 17
10:30 = 19
11:00 = 21
11:30 = 23
12:00 = 25
12:30 = 27
13:00 = 29
13:30 = 31
14:00 = 33
14:30 = 35
15:00 = 37
15:30 = 39
16:00 = 41
16:30 = 43
17:00 = 45
17:30 = 47
18:00 = 49
*/